@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
header {
  width: 100vw;
  height: 20vh;
  background-color: black;
  position: fixed;
  z-index: 3;
}
.navigation {
  width: 100%;
  height: 100%;
  background-color: inherit;
  display: grid;
  grid-template-columns: 1fr 0.7fr 0.8fr;
}
.nav-parentdiv {
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  color: white;
}
.navigation .nav-parentdiv:nth-child(3) {
  justify-content: flex-end;
}
.menu-nav {
  background-color: rgb(255, 255, 255);
  color: orangered;
  width: fit-content;
  height: fit-content;
  z-index: 5;
  position: absolute;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* gap:1rem; */
  font-size: 0.7rem;
  box-sizing: border-box;
}
.menu-nav > li {
  display: block;
  padding: 0.6rem;
  scale: 2rem;
}
.menu-nav > li:hover {
  background-color: whitesmoke;
}
.content-drop-down {
  font-weight: bolder;
  font-size: 1rem;
  color: white;
  list-style: none;
}
.content-drop-down::after {
  content: " >"; /* Down-pointing arrow */
}
.cartcount {
  margin-right: 5%;
  color: rgb(255, 255, 255);
  z-index: 5;
  position: relative;
  right: 25px;
  top: -10px;
  background-color: red;
  border: 2px solid red;
  border-radius: 100px;
  width: 13px;
  height: 13px;
  text-align: center;
  font-size: 0.6rem;
  scale: 1.2;
}

.logo {
  justify-content: center;
}
.logo-img {
  transition: all 0.5s ease;
}
.content {
  font-weight: bolder;
  font-size: 1rem;
  color: white;
  list-style: none;
}
.content:hover {
  cursor: pointer;
}
/* .content:hover
.navigation .nav-parentdiv:nth-child(3){
    justify-content:center;
}
.navigation .nav-parentdiv:nth-child(3)>.content{
    font-size:1.2rem;
} */

.back-img {
  width: 100vw;
  height: 120vh;
  background-color: green;
}
.back-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .card-wrap {
  width: 100vw;
  height: 30vh;
  background-color: blue;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
main .card-wrap > .card {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 3px solid rgb(255, 255, 255);
}
main .card-wrap > .card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main > .container {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(5, 1fr);
  border: 2px solid white;
}
main > .container > .box:nth-child(2) {
  width: 100%;
  height: 80vh;
  background-color: orange;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("asset\ 18.jpeg");
  background-position: center;
  background-size: contain;
  justify-content: flex-start;
}

main > .container > .box:nth-child(2) > div {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7%;
  margin-left: 5%;
}
.box-heading {
  color: white;
  font-size: 2rem;
  font-weight: bolder;
}
.box-text {
  color: white;
  font-size: 1rem;
}
.shop-btn {
  width: 60%;
  height: 3rem;
  background: none;
  color: white;
  font-size: 1rem;
  border: 3px solid white;
  border-radius: 5px;
}
.shop-btn:hover {
  border: hidden;
}
.shop-btn-2 {
  width: 50%;
  height: 3.5rem;
  background: orange;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 1rem;
  border-radius: 5px;
}
.shop-btn-2:hover {
  cursor: pointer;
}
main > .container > .box:nth-child(3) {
  width: 100%;
  height: 80vh;
  background-color: orange;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("asset\ 19.jpeg");
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
}
main > .container > .box:nth-child(3) > div {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7%;
}

main > .container > .box:nth-child(6) {
  width: 100%;
  height: 80vh;
  background-color: orange;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("asset\ 20.jpeg");
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: start;
}
main > .container > .box:nth-child(6) > div {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7%;
  margin-left: 5%;
}

main > .container > .box:nth-child(7) {
  width: 100%;
  height: 80vh;
  background-color: orange;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("asset\ 21.jpeg");
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: end;
}
main > .container > .box:nth-child(7) > div {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3%;
  margin-right: 6%;
}
.box-heading-2 {
  color: white;
  font-size: 2.3rem;
  font-weight: bolder;
}

main > .container > .box:nth-child(8) {
  width: 100%;
  height: 80vh;
  background-color: orange;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("asset\ 22.jpeg");
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: start;
}
main > .container > .box:nth-child(8) > div {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3%;
  margin-left: 5%;
}
main > .container > .box:nth-child(9) {
  width: 100%;
  height: 80vh;
  background-color: orange;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("asset\ 23.jpeg");
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: end;
}
main > .container > .box:nth-child(9) > div {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3%;
  margin-right: 6%;
}
main > .container > .box:nth-child(10) {
  width: 100%;
  height: 80vh;
  background-color: orange;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("asset\ 24.jpeg");
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: start;
}
main > .container > .box:nth-child(10) > div {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3%;
  margin-left: 5%;
}
.box {
  /* background-color: bisque; */
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.card-container {
  /* background-color: orange; */
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  /* background-color: yellow; */
}
.card-container:hover .movable-div {
  animation-play-state: paused;
}
.movable-div {
  width: 100vw;
  height: 100%;
  /* background-color: gray; */
  display: flex;
  flex-direction: row;
  animation-name: slide_card;
  animation-duration: 13s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  transition: all 0.2s;
  animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
.ad-card {
  /* background-color: blue; */
  height: 100%;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1%;
  box-sizing: border-box;
  gap: 5px;
}
.ad-card:hover img {
  scale: 0.9;
  box-shadow: -4px 3px 10px rgba(218, 207, 207, 0.5),
    4px 3px 10px rgba(218, 207, 207, 0.5);
}
.ad-card > img {
  scale: 0.8;
  width: 90%;
  height: 60%;
  object-fit: contain;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}
.ad-card > span:nth-child(2) {
  font-size: 0.8rem;
  font-weight: bolder;
}
.ad-card > span:nth-child(3) {
  font-size: 1.2rem;
  font-weight: bolder;
}
.ad-card > span:nth-child(3):hover {
  color: orange;
}
.ad-card > span:nth-child(4) {
  font-size: 0.9rem;
  font-weight: bolder;
}
.addtocart {
  height: 2.5rem;
  width: 8rem;
  border: 2px solid black;
  background-color: white;
}
.addtocart:hover {
  border: hidden;
  background-color: orange;
}
.ad-card:hover .addtocart {
  border: hidden;
  background-color: orange;
}

@keyframes slide_card {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.feature {
  width: 100vw;
  height: 15vw;
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.feature-card {
  width: 15%;
  height: 90%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature-card > img {
  width: 70%;
  height: 50%;
  object-fit: contain;
  filter: contrast(100%);
}
.feature-card > span {
  font-size: 1.3rem;
  font-weight: bolder;
  text-align: center;
}
.feature-card > div {
  content: "";
  font-size: 2rem;
  width: 50%;
  height: 5px;
  background-color: orange;
  margin-top: 30px;
}
.feature-card > .baseline {
  content: "";
  font-size: 2rem;
  width: 50%;
  height: 5px;
  background-color: orange;
  margin-top: 0px;
}
.customer-care {
  width: 100vw;
  height: 30vw;
  position: relative;
  display: flex;
  background-image: url(asset\ 25.png);
  background-color: #0f305b;
  background-position-x: right;
  background-repeat: no-repeat;
  display: flex;
  padding-left: 7%;
}
.customer-care-content {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: visible;
  gap: 5%;
}
.customer-care-content > span {
  color: white;
  font-size: 2.4rem;
  text-wrap: nowrap;
  font-weight: bolder;
}
.customer-care-content > .btn {
  width: 48%;
  height: 14%;
  font-size: 1.3rem;
  font-weight: bolder;
}
.one {
  background-color: lime;
  color: black;
}
.one:hover {
  background-color: rgb(0, 0, 0);
  border: 4px solid lime;
  color: rgb(255, 255, 255);
}
.two {
  background-color: inherit;
  color: white;
  border: 4px solid lime;
}
.two:hover {
  color: lime;
  background-color: black;
}

/* account page */

.details {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.blank {
  width: 100vw;
  height: 20%;
}
.details > .wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.form-card {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2%;
}

.form-card > span:nth-child(1) {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
.form-card > label {
  color: darkgray;
}
.form-card > input {
  width: 80%;
  height: 5%;
  padding: 2%;
}
.form-card > button {
  width: 80%;
  height: 10%;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
}
.form-card > .otp {
  background-color: orange;
  width: 40%;
  font-size: 1rem;
}
.form-card > span {
  color: darkgray;
}
.form-card > span > input {
  scale: 1.5;
  margin: 15px;
  padding: 5px;
}
.acc-main {
  display: flex;
  flex-direction: column;
  gap: 15vh;
}

/* product-headphone */
.product-page-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  overflow-y: scroll;
}
.banner {
  width: 100vw;
  height: 60vh;
  background-color: #0f305b;
  background-image: url("new asset/headphone.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100vw;
  background-origin: contain;
}
.main-container {
  width: 100vw;
  height: 200vh;
  background-color: rgb(255, 255, 255);
  padding-left: 2rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-bottom: 20rem;
}
.sidebar-div {
  border: 1px solid gray;
  width: 20%;
  height: fit-content;
  content: "";
  border: 1px solid black;
}
.categories {
  padding-left: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid red;
}
li {
  list-style-type: none;
}
li:hover {
  color: orange;
}
.price-slider-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid red;
}
.price-slider-div > details {
  width: 100%;
}
.price-slider {
  -webkit-appearance: none;
  background: rgb(0, 0, 0);
  width: 100%;
  height: 0.3rem;
  outline: gray;
  cursor: pointer;
}
.price-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: orange;
  height: 1rem;
  width: 1rem;
  border-radius: 50px;
}
.color-range-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid red;
}
.color-range-div > details > div {
  margin: 0.7rem;
}
.color-range-div > details > div > button {
  height: 2.5rem;
  min-width: fit-content;
  max-width: 5rem;
  padding: 0.5rem;
}
.color-range-div > details > div > button:hover {
  color: orange;
}
.card-content {
  height: 100%;
  width: 73%;
  /* background-color: rgb(241, 106, 106); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  justify-content: space-around;
}
.card-content > .card {
  width: 100%;
  height: 100%;
  /* background-color: rgb(235, 22, 22); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 0px;
}
.card-content > .card > span {
  display: inline-block;
}
.card-content > .card > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-content > .card > img:hover {
  box-shadow: -4px 3px 10px rgba(218, 207, 207, 0.5),
    4px 3px 10px rgba(218, 207, 207, 0.5);
}
